/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif; */

.navbar-brand
{
    font-size: 30px !important;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    margin-left: 15px;
}

.search-button
{
    border: none !important;
    border-radius: 15px !important;
    color: #000 !important;
}

.search-button:hover
{
    border: none !important;
    border-radius: 15px !important;
    background-color: #D0BCFF !important;
    color: #000!important;
}

.search-box
{
    border-radius: 15px !important;
}