/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */

.left-menu
{
    width: 17.5vw;
    height: 100vh;
    background-color: #f8f8f8;
}

.sort-by-title
{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 15px 0px 0px 15px;
}